{{#md-navbar name='cooperativApp' class='cyan black-text' homeRoute='index'}}
<!--a href="#" class="brand-logo"><i class="material-icons right">home</i></a-->
        <li><a href="/"><img src="favicon.png" class="materialboxed avatar"></a></li>
        <li><a href="/info" class="black-text">Info<i class="material-icons blue darken-1 white-text hoverable right">info</i></a></li>
        <li><a href="/users" class="black-text">Usuarios<i class="material-icons orange darken-1 white-text hoverable right">group</i></a></li>
{{#if session.isAuthenticated}}
        <li><a href="welcome" class="truncate">
    {{#if session.currentUser.displayName}}
        N {{session.currentUser.displayName}}
    {{else}}
        E {{session.currentUser.email}}
    {{/if}}
  {{#if session.currentUser.photoURL}}
        <!--img src="{{session.currentUser.photoURL}}" alt="{{session.currentUser.email}}"-->
  {{else}}
        <i class="material-icons right">settings</i>
  {{/if}}
        </a>
        </li>
        <li><a href="#" {{action 'signOut'}} class="black-text">Salir<i class="material-icons red darken-4 white-text hoverable right">lock_open</i></a></li>
{{else}}
        <li><a href="/sign-in" class="black-text">Identifícate<i class="material-icons green darken-1 white-text hoverable right">fingerprint</i></a></li>
{{/if}}
        <!--li><a href="users">Usuarios<i class="material-icons right">person</i></a></li>
        <li><a href="propietarios">Propietarios<i class="material-icons right">person</i></a></li>
        <li><a href="inquilinos">Inquilinos<i class="material-icons right">person</i></a></li>
        <li><a href="calles">Calles<i class="material-icons right">directions</i></a></li>
        <li><a href="casas">Casas<i class="material-icons right">home</i></a></li-->

{{/md-navbar}}

{{#if session.isWorking}}
<h4 class="card-panel hoverable z-depth-1 center-align grey lighten-5">
{{md-loader mode="circular" size="large" color="red"}}
</h4>
{{else}}



<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large grey lighten-3">
    <i class="material-icons large black-text">menu</i>
  </a>
  <ul>
  <li><a href="/"><i class="material-icons black-text">home</i></a></li>
{{#if session.isAuthenticated}}
  <li><a href="#" {{action 'signOut'}}><i class="material-icons red-text text-darken-4" title="logout">lock_open</i></a></li>
{{else}}
  <li><a href="sign-in"><i class="material-icons green-text text-darken-1" title="login o registro">fingerprint</i></a></li>
{{/if}}
  <!--li><a href="users"><i class="material-icons black-text" title="usuarios">group</i></a></li-->

<li>
    <a href="#" {{action 'info' 'Cooperativa de Casas baratas para los Ferroviarios del Norte, Ciudad Jardín Castañeda'}}>
        <i class="material-icons blue-text text-darken-4">info</i>
    </a>
</li>
  </ul>
</div>



<div class='container'>
{{outlet}}
</div>
{{/if}}

<footer class='page-footer fixed-bottom transparent white-text'>
    {{#md-copyright text='Cooperativa de Casas baratas para los Ferroviarios del Norte, Ciudad Jardín Castañeda'
        startYear=1928
        class='cyan lighten-5 grey-text text-lighten-1'}}
    {{/md-copyright}}
</footer>

