{{#md-navbar name='coopApp' class='transparent' homeRoute='index'}}
<!--a href="#" class="brand-logo"><i class="material-icons right">home</i></a-->
        <!--li><a href="/"><img src="favicon.png" class="avatar"></a></li>
        <li>
          <a href="/info" class="black-text">
          <div class="chip transparent">
            <img src="favicon.png" alt="Info">
            Info
          </div>
          <i class="material-icons blue darken-1 white-text hoverable right">info</i>
          </a>
        </li-->
        <li>
          <a href="/info">Info
          <i class="material-icons blue-text text-darken-1 right">info</i>
          </a>
        </li>
        <li>
          <a href="/users">Usuarios
          <i class="material-icons orange-text text-darken-1 right">group</i>
          </a>
        </li>





{{#if session.isAuthenticated}}
        <li>
          <a href="/users/{{session.currentUser.uid}}/edit" class="truncate">
          <div class="chip transparent">
  {{#if session.currentUser.photoURL}}
            <img src="{{session.currentUser.photoURL}}" alt="{{session.currentUser.email}}">
  {{else}}
            <img src="favicon.png" alt="Identifícate">
  {{/if}}
    {{#if session.currentUser.displayName}}
        {{session.currentUser.displayName}}
    {{else}}
        {{session.currentUser.email}}
    {{/if}}
          </div>
          <i class="material-icons green-text text-darken-1 right">settings</i>
          </a>
        </li>

        <li>
          <a href="#" {{action 'signOut'}}>
            Salir
          <i class="material-icons red-text text-darken-3 right">lock_open</i>
          </a>
        </li>

{{else}}
        <li>
          <a href="/sign-in" >
            entra
          <i class="material-icons green-text text-darken-2 right">fingerprint</i>
          </a>
        </li>
{{/if}}
        <!--li><a href="users">Usuarios<i class="material-icons right">person</i></a></li>
        <li><a href="propietarios">Propietarios<i class="material-icons right">person</i></a></li>
        <li><a href="inquilinos">Inquilinos<i class="material-icons right">person</i></a></li>
        <li><a href="calles">Calles<i class="material-icons right">directions</i></a></li>
        <li><a href="casas">Casas<i class="material-icons right">home</i></a></li-->

{{/md-navbar}}

{{#if session.isWorking}}
<h1 class="card-panel hoverable z-depth-1 center-align transparent">
{{md-loader mode="circular" size="large" color="red"}}
</h1>
{{else}}


<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large transparent">
    <i class="material-icons large black-text">menu</i>
  </a>
  <ul>
    <li><a href="/" class="btn btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">home</i></a></li>

{{#if session.isAuthenticated}}
    <li><a href="#" {{action 'signOut'}} class="btn btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">lock_open</i></a></li>
{{else}}
    <li><a href="sign-in" class="btn btn-floating halfway-fab waves-effect waves-light green"><i class="material-icons">fingerprint</i></a></li>
{{/if}}
  <!--li><a href="users"><i class="material-icons black-text" title="usuarios">group</i></a></li-->
    <li><a href="#" {{action 'info' 'Cooperativa de Casas baratas para los Ferroviarios del Norte, Ciudad Jardín Castañeda'}} class="btn btn-floating halfway-fab waves-effect waves-light blue"><i class="material-icons">info</i></a></li>

  </ul>
</div>




{{outlet}}

{{/if}}

<footer class='page-footer fixed-bottom transparent white-text'>
    {{#md-copyright text='Cooperativa de Casas baratas para los Ferroviarios del Norte, Ciudad Jardín Castañeda'
        startYear=1928
        class='transparent blue-grey-text darken-2'}}
    {{/md-copyright}}
</footer>

