  <!--div class="row">
    <div class="col s12"><p>s12</p></div>
    <div class="col s12 m4 l2"><p>s12 m4</p></div>
    <div class="col s12 m4 l8"><p>s12 m4</p></div>
    <div class="col s12 m4 l2"><p>s12 m4</p></div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
    <div class="col s12 m6 l3"><p>s12 m6 l3</p></div>
  </div-->

<div class="row">

    
  <div class="col s12 m10 l10">
{{#md-card title="cooperativApp" activator=true id="card-reveal" class="transparent"}}

    {{#md-card-content}}
    <div class="card-image waves-effect waves-block waves-light">
    <span class="">{{moment-format (now)}}</span>
      <img class="activator" src="favicon.png">
    </div>

<!--span class="card-title activator grey-text text-darken-4">{{moment-format (now)}}<i class="material-icons right">more_vert</i></span-->
    <h6 class="right"><i>Entre todos es más fácil</i></h6>

    {{#md-card-action}}
{{#if session.isAuthenticated}}
        <a href="/users/{{session.currentUser.uid}}/edit" class='btn btn-floating pulse green'><i class="material-icons white-text" title="Ajustes de usuario">settings</i></a>
<!--        {{#link-to 'welcome' user.uid}}<i class="material-icons">settings</i>{{/link-to}}-->

{{else}}
        <a href="/sign-in" class='btn btn-floating pulse green'><i class="material-icons white-text" title="Identifícate">fingerprint</i></a>
{{/if}}

        {{#link-to "users" class='btn btn-floating pulse orange' title='gestión de usuarios'}}<i class="material-icons white-text">group</i>{{/link-to}}
<!--        {{#link-to "calles" class='transparent' title='gestión de calles'}}<i class="material-icons black-text">room</i>{{/link-to}}
        {{#link-to "propietarios" class='transparent' title='gestión de propietarios'}}<i class="material-icons black-text">group</i>{{/link-to}}
        {{#link-to "casas" class='transparent' title='gestión de casas'}}<i class="material-icons black-text">home</i>{{/link-to}}
        {{#link-to "inquilinos" class='transparent' title='gestión de inquilinos'}}<i class="material-icons black-text">group</i>{{/link-to}}
-->
    {{/md-card-action}}
    {{/md-card-content}}

    {{#md-card-reveal class="grey darken-2 white-text"}}
    <!--p>Bienvenid@ a la web de la Cooperativa de Casas baratas para los Ferroviarios del Norte, Ciudad Jardín Castañeda. </p-->
    <p>Bienvenid@ a la cooperativApp.</p>
    <p>Esta web pretende ser una herramienta que sirva para agilizar la comunicación entre nosotros y que las pequeñas gestiones, que son necesarias para que esto funcione, no nos lleven media vida. </p>
<!--
<p>
{{#if users.length}}
Ya somos {{users.length}} usuarios registrados,  
{{/if}}
{{#if propietarios.length}}
{{propietarios.length}} propietarios
{{/if}}
{{#if inquilinos.length}}
 y {{inquilinos.length}} inquilinos, 
{{else}}
, 
{{/if}}
que habitan 
{{#if casas.length}}
{{casas.length}} 
{{else}}
varias
{{/if}}
 propiedades.
</p>
{{#if calles.length}}
<p>Estamos repartidos en {{calles.length}} calles.</p>
{{/if}}
-->

{{#if session.isAuthenticated}}
	<p>Desde el botón de ajustes <i class="material-icons md-12" title="Ajustes de usuario">settings</i> puedes añadir y modificar la información de tu usuario.</p>
{{else}}
	<p>Identifícate con tu correo electrónico y una clave. La primera vez que lo hagas quedarás registrado y, cuando valides que la dirección de correo es correcta, podrás aportar el resto de información necesaria.</p>
{{/if}}
    {{/md-card-reveal}}
{{/md-card}}
  </div>
</div>
{{outlet}}