{{#if users.length}}
<p>Ya somos {{users.length}} usuarios registrados. {{user.displayName}}</p>
{{/if}}
{{#each users as |current|}}
{{#if isCurrent 'current'}}
<p>nick: {{current.displayName}}</p>
<p>email: {{current.email}}</p>
<p>phone: {{current.phone}}</p>
<p>photo: {{current.photoURL}}</p>
<p>id: {{current.id}}</p>
<p>id: {{current.id}}</p>
<p>status: {{current.status}}</p>
<p>domicilio: {{current.home}}</p>
<p>Admin: {{current.isAdmin}}</p>
<p>Propietario: {{current.isOwner}}</p>
<p>activo: {{current.isActive}}</p>
{{/if}}
{{/each}}
<p>{{user}}</p>
{{#if user}}
  {{user.id}}
{{else}}
no ID
{{/if}}
<p>{{session.currentUser.uid}}</p>

  <div class="row" title="{{session.currentUser.uid}}">
    <form class="col s12">

      <div class="row">
        <div class="input-field col s11">
          <i class="material-icons prefix {{action 'info' 'Si no tienes validado el correo<br>Desliza el botón para recibir un enlace en tu dirección de correo para poder validarlo.'}}">email</i>
          <input value="{{session.currentUser.email}}" id="icon_email" required type="email" class="validate">
          <label class="active" for="icon_email">Correo electrónico</label>
        </div>
      </div>
      <div class="row">
        <div class="col s11">
    {{#if session.currentUser.emailVerified}}
  <p>Ya tienes el correo electrónico validado, pero si lo modificas, habrá que validarlo de nuevo. </p> 
          <p><i class="material-icons blue-text text-darken-4">email</i><i class="material-icons blue-text text-darken-4">check</i>
{{md-switch checked=session.currentUser.emailVerified
    disabled=true
    action="sendEmailVerification"
    class="right"}}
          </p>
    {{else}}
          <p><i class="material-icons blue-text text-darken-4">email</i><i class="material-icons blue-text text-darken-4">check</i>
{{md-switch checked=session.currentUser.emailVerified
    disabled=false
    action="sendEmailVerification"
    class="right"}}
          </p>
    {{/if}}
        </div>
      </div>
{{#if session.currentUser.emailVerified}}
      <div class="row">
        <div class="col s11">
          <p>{{md-switch checked=session.currentUser.isAdmin
                onLabel="de la junta, comisión o webmaster"
                offLabel="cooperativista"
                disabled=true}}</p>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s11">
          <i class="material-icons prefix" {{action 'info' 'Nombre<br>El nombre que aparecerá en la app'}}>person</i>
          <input value="{{user.displayName}}" required id="displayName" type="text" class="validate">
          <label class="{{if user.displayName 'active'}}" for="displayName">Nombre, alias, nick...</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s11">
          <i class="material-icons prefix">camera_roll</i>
          <input value="{{user.photoURL}}" required id="image" type="text" class="validate">
          <label class="{{if user.photoURL 'active'}}" for="image">Imagen</label>
        </div>
      </div>
{{else}}
  <p>Para informar los datos necesarios hay que tener el correo electrónico validado. </p> 
  <button class='btn-floating waves-effect waves-light right' {{action 'info' 'Si no tienes validado el correo. Desliza el botón para recibir un enlace en tu dirección de correo para poder validarlo.'}} title="Valida tu correo">
      <i class="material-icons">info</i>
  </button>
{{/if}}

{{#if session.isWorking}}
{{md-loader mode="circular" size="large" color="red"}}
{{else}}
  <button class='btn-floating waves-effect waves-light' {{action 'info' 'Heeeeey!!!<br>He aquí la imformación deshechable que se puede mostrar'}} title="info">
      <i class="material-icons">info</i> 
  </button>
  <button class='btn-floating waves-effect waves-light red' {{action 'signOut'}} title="logout">
      <i class="material-icons">lock_outline</i> 
  </button>
  <button class='btn-floating waves-effect waves-light green' {{action 'basicUpdateUser'}} title="actualiza tu perfil">
      <i class="material-icons">done_all</i>
  </button>
  <button class='btn-floating waves-effect waves-light red' {{action 'deleteUser'}} title="Elimina este usuario">
      <i class="material-icons">delete_forever</i>
  </button>
{{/if}}

    </form>
  </div>

<!--
  clemente fernández
  Paseo de los olivos
  rogelio osorio
  antonio Gistau
  -->

<!--
<p>id {{session.currentUser.uid}}</p>
<p>displayName {{session.currentUser.displayName}}</p>
<p>email {{session.currentUser.email}}</p>
<p>emailVerified {{session.currentUser.emailVerified}}</p>
<p>status {{session.currentUser.status}}</p>
-->
{{outlet}}
